# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
ESC_Controller/Core/Src/.vs/ProjectSettings.json
ESC_Controller/Core/Src/.vs/slnx.sqlite
ESC_Controller/Core/Src/.vs/Src/v17/Browse.VC.db
ESC_Controller/Core/Src/.vs/Src/v17/Browse.VC.db-shm
ESC_Controller/Core/Src/.vs/Src/v17/Browse.VC.db-wal
ESC_Controller/Core/Src/.vs/Src/v17/Browse.VC.opendb
ESC_Controller/Core/Src/.vs/VSWorkspaceState.json
ESC_Controller/Core/Src/.vs/Src/v17/.suo
